.NotificationsPage {
  text-align: center;
  min-height: 100vh;
  background-color: var(--background-color);
}

.NotificationsPage-header {
  background-color: var(--card-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3%;
}