.NotificationsPage {
    text-align: center;
    min-height: 100vh;
    background-color: #fff;
  }
  
  .NotificationsPage-header {
    background-color: #e9dfc7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 3%;
  }
 