
.NotificationComponentOuter{
    padding: 2%;
}
.NotificationComponent {
    display: flex;
    flex-direction: column;
    padding: 1%;
    border-bottom: 1px solid var(--shadows);
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    width: 80%;
    margin: 0 auto;
    background-color: var(--card-background);
}

.NotificationComponent-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.NotificationComponent-header h2{
    font-weight: 800;
    font-size: 18px;
    color: var(--accent);
}

.NotificationTimeStamp{
    font-size: 13px;
    color: var(--unimportant-text);
}

.NotificationComponent-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    color: var(--ordinary-text);
    font-size: 15px;
}