.search-button {
  display: inline-block;
  color: var(--ordinary-text);
  background-color: var(--unimportant-text);
  border: none;
  padding: 3px 15px;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: var(--accent);
}

.search-bar {
  background-color: var(--ordinary-text);
  border: none;
  padding: 3px 15px;
  margin: 0 auto;
  border-radius: 5px;
}