.modules-container {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}

.module-list {
  width: 30%;
  padding: 20px;
}

.module-item {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 10px;
  margin-bottom: 10px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.module-item:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.module-name {
  font-weight: bold;
  color: #333;
}

.chat-box {
  width: 65%;
  height: 70%;
  border: 1px solid #ccc;
  padding: 20px;
  overflow-y: auto;
  background-color: var(--background-color);
  color: #000000;
  position: relative;
  padding-bottom: 50px;
}

.chat-input {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 20px);
  padding: 10px;
  border: none;
  border-top: 1px solid #ccc;
}

.chat-messages .message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: var(--card-background);
  padding: 10px;
  border-radius: 10px;
}

.chat-messages .message p {
  margin-left: 10px;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.timestamp {
  font-size: 0.8em;
  margin-left: 10px;
  color: #666;
}

.message p {
  text-align: left;
  display: inline-block;
}

.moduleTitle {
  color: var(--accent);
  position: sticky;
  top:0;
  width: 100%;
  padding-top: 10px;
  z-index: 1000;
  background-color: var(--card-background);
  text-align: left;
  font-size: 20px;
}