body {
  background-color: var(--background-color);
  color: var(--ordinary-text);
}

p {
  color: var(--ordinary-text);
}

#userName {
  color: var(--accent);
  font-weight: bold;
}

.postLnk a {
  color: var(--accent);
  text-decoration: none;
}

#recentPosts {
  color: var(--accent);
  font-weight: bold;

}

#profileCard,
#userPosts {
  background-color: var(--card-background);
  box-shadow: 0px 1px 5px var(--shadows);
}



#bioCard {
  position: relative;
}

.post {
  background-color: var(--background-color);
  box-shadow: 0px 1px 5px var(--shadows);
  color: var(--unimportant-text);
}

.postTitle {
  color: var(--accent);
  font-size: larger;
}

.profile-picture {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.editBtn {
  position: absolute;
  cursor: pointer;
  background-color: var(--card-background);
  border: 2px solid var(--background-color);
  border-radius: 50%;
  color: var(--accent);
  bottom: 5px;
  right: 10px;
  font-size: 1.5rem;
}

.editBtn:hover {
  background-color: var(--accent);
  color: white;
}

.fileInputBtn,
.cancelEditBtn {
  position: absolute;
  cursor: pointer;
  background-color: var(--card-background);
  color: var(--ordinary-text);
  border: 1px solid var(--accent);
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
  opacity: 0.9;
}

.fileInputBtn {
  bottom: 40px;
  right: 5px;
}

.cancelEditBtn {
  bottom: 10px;
  right: 5px;
}

.fileInputBtn:hover,
.cancelEditBtn:hover {
  background-color: var(--accent);
  color: var(--background-color);
  opacity: 1;
}

/* Hide the file input but make label clickable */
.fileInputBtn input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.fileInputBtn label {
  cursor: pointer;
  display: inline-block;
}

.user-details h1 {
  font-size: 2em;
}

.user-details p {
  margin: 5px 0;
}

.bioBtn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--card-background);
  box-shadow: 0px 1px 5px var(--shadows);
  padding: 20px;
  border-radius: 5px;
  color: var(--ordinary-text);
}

.bioTextarea {
  width: 100%;
  background-color: var(--background-color);
  color: var(--ordinary-text);
  border: 1px solid var(--shadows);
  border-radius: 5px;
  padding: 20px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  resize: none;
  overflow: hidden;
}

.editBtnContainer {
  position: absolute;
  bottom: 14px;
  right: 15px;
}

.bioSaveBtn,
.bioCancelBtn,
.bioEditBtn {
  cursor: pointer;
  background-color: var(--card-background);
  color: var(--ordinary-text);
  border: none;
  padding: 5px 15px;
  margin: 0 5px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px var(--shadows);
}

.bioSaveBtn:hover,
.bioCancelBtn:hover,
.bioEditBtn:hover {
  background-color: var(--accent);
  color: white;
}


#dropdownMenuButton1 {
  background-color: var(--background-color);
  border: none;
  box-shadow: 0px 1px 5px var(--shadows);
}

.dropdown-item,
.dropdown-menu {
  color: var(--ordinary-text);
  background-color: var(--card-background);
}

.dropdown-item:hover {
  background-color: var(--accent);
  color: var(--background-color);
}