.message {
    position: relative;
    padding: 0.8%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.textContainer {
    padding: 1%;
}

.rightAlign {
    padding-right: 4%;
    padding-left: 3%;
    padding-bottom: 1%;
    display: flex;
    justify-content: flex-end;
}

.leftAlign {
    padding-right: 3%;
    padding-left: 4%;
    padding-bottom: 1%;
    display: flex;
    justify-content: flex-start;
}

.myText {
    color: var(--ordinary-text);
    background-color: var(--card-background);
    padding-left: 1%;
    padding-right: 1%;
    text-align: left;
    font-size: 18px;
}

.myUsername{
    font-size: 12px;
    color: var(--unimportant-text);
    text-align: left;
    padding-right: 4%;
    padding-left: 3%;
    display: flex;
    justify-content: flex-end;
}

.theirText {
    color: var(--ordinary-text);
    background-color: var(--shadows);
    padding-left: 1%;
    padding-right: 1%;
    font-size: 18px;
}

.theirUsername{
    font-size: 12px;
    color: var(--accent);
    text-align: left;
    padding-right: 3%;
    padding-left: 4%;
    display: flex;
    justify-content: flex-start;
}

.timestamp{
    font-size: 11px;
    text-align: right;
    color: var(--unimportant-text);
}