body {
  background-color: var(--background-color);
  color: var(--ordinary-text);
}

p {
  color: var(--ordinary-text);
}

#userName {
  color: var(--accent);
  font-weight: bold;
}

.postLnk a {
  color: var(--accent);
  text-decoration: none;
}

#recentPosts ,
#createEventTitle{
  color: var(--accent);
  font-weight: bold;

}

#profileCard,
#userPosts {
  background-color: var(--card-background);
  box-shadow: 0px 1px 5px var(--shadows);
}



#bioCard,
.post {
  background-color: var(--background-color);
  box-shadow: 0px 1px 5px var(--shadows);
  color: var(--unimportant-text);
}

.postTitle {
  color: var(--accent);
  font-size: larger;
}





.soc-profile-picture img {
  width: 80%;
  /* Adjust the size as needed */
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.user-details h1 {
  font-size: 2em;
}

.user-details p {
  margin: 5px 0;
}

.bioBtn {
  background-color: var(--card-background);
  color: var(--ordinary-text);
  box-shadow: 0px 1px 5px var(--shadows);

}

a {
  color: var(--ordinary-text);
  text-decoration: none;
}

.icon {
  color: var(--accent);
  padding-left: 0.15em;
}

#createEvent{
  background-color: var(--card-background);
  box-shadow: 0px 1px 5px var(--shadows);
  margin-bottom: 5%;
  position: relative;
}

#addEventButton{
  background-color: var(--card-background);
  color: var(--ordinary-text);
  box-shadow: 0px 1px 5px var(--shadows);
  margin-bottom: 5%;
}

#createEventButton{
  background-color: var(--card-background);
  color: var(--ordinary-text);
  box-shadow: 0px 1px 5px var(--shadows);
  margin-top: 5%;
}

pre{
  color: var(--ordinary-text);
  margin: 5px 0;
  white-space: pre-wrap;
}

input, textarea{
  border-radius: 5px;
  width: 60%;
}

#closeEventBoxButton{
  background-color: var(--card-background);
  color: var(--ordinary-text);
  box-shadow: 0px 1px 5px var(--shadows);
  position: absolute;
  top: 0;
  right: 0;
}